.text {
  background-color: #02bdda;
  color: #e3fbff;
  cursor: pointer;
  position: relative;
}
.text .popover {
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  bottom: 100%;
  color: #fff;
  padding: 10px;
  position: absolute;
  right: 50%;
  transform: translate(50%, -20%);
  opacity: 0;
  transition: 0.3s;
}
.text .popover:before {
  border-top: 7px solid rgba(0, 0, 0, 0.85);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  bottom: -7px;
  content: "";
  display: block;
  left: 50%;
  margin-left: -7px;
  position: absolute;
}
.text:hover .popover {
  display: block;
  opacity: 1;
}
