.text {
  background-color: #02bdda;
  color: #e3fbff;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.text span {
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
}
.text span:before {
  content: "";
  display: block;
  position: absolute;
}

/* Classes */

.text .top {
  margin-bottom: -5px;
  right: 50%;
  transform: translate(50%, -20%);
  bottom: 100%;
}

.text .top:before {
  border-top: 7px solid rgba(0, 0, 0, 0.85);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  bottom: -7px;
  left: 50%;
  margin-left: -7px;
}

.text .bottom {
  margin-top: -5px;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 20%);
}

.text .bottom:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.85);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  top: -7px;
  left: 50%;
  margin-left: -7px;
}

.text .right {
  top: -50%;
  margin-left: 0px;
}

.text .right:before {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid rgba(0, 0, 0, 0.85);
  top: 50%;
  left: 0;
  margin: -7px 0px 0px -7px;
}

/* Animation */

.text:hover span {
  display: block;
  opacity: 1;
  margin-bottom: 5px;
}
.text:hover .top {
  margin-bottom: 5px;
}
.text:hover .bottom {
  margin-top: 5px;
}
.text:hover .right {
  margin-left: 10px;
}
